<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
    <div>
        <form method="post" action="/new-user" enctype="application/x-www-form-urlencoded">
            <h2>Welcome to Vangogh Photo Library</h2>
            <div>
                <div>
                    <label for="first-name">First Name</label>
                </div>
                <div>
                    <input type="text" id="first-name" name="first_name">
                </div>
            </div>
            <div>
                <div>
                    <label for="last-name">Last Name</label>
                </div>
                <div>
                    <input type="text" id="last-name" name="last_name">
                </div>
            </div>
            <div>
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</body>
</html>